@import 'mobile';

body {
	background: #89eef5;
	background-image: url("/assets/bg1.JPG"), url("/assets/bg2.JPG");
	background-repeat: repeat-x, repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center top;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/bg1.JPG", sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/bg1.JPG', sizingMethod='scale')";
}	

