@import 'mobile';

body {
	background: #89eef5;
	background-image: url("/assets/bg1.png"), url("/assets/bg2.png");
	background-repeat: repeat-x, repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	
}	

