/*@media (max-width: 1200px) {*/
  #header {
    width: 1200px;
    margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);
    }
  }

  #main {
    width: 1200px;
    margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /*background-clip: padding-box;*/
    height: 1200px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);  
    }
  }
/*}*/
@media (max-width: 1024px) {
  #header {
    width: 768px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);
    }*/
  }

  #main {
    width: 768px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-clip: padding-box;
    height: 1200px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);  
    }*/
  }
}
@media (max-width: 768px) {
  #header {
    width: 480px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);
    }*/
  }

  #main {
    width: 480px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-clip: padding-box;
    height: 1200px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);  
    }*/
  }
}
@media (max-width: 480px) {
  #header {
    width: 320px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);
    }*/
  }

  #main {
    width: 320px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-clip: padding-box;
    height: 1200px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);  
    }*/
  }
}
@media (max-width: 320px) {
  #header {
    width: 240px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);
    }*/
  }

  #main {
    width: 240px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-clip: padding-box;
    height: 1200px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);  
    }*/
  }
}
@media (max-width:  240px) {
  #header {
    width: 200px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);
    }*/
  }

  #main {
    width: 200px;
/*      margin: auto;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-clip: padding-box;
    height: 1200px;
    .content {
      border-radius: 5px;
      background: rgba(209,254,255,0.5);  
    }*/
  }
}

