/ Ukraine.Hosting
%script{:src => "//mc.yandex.ru/metrika/watch.js", :type => "text/javascript"}
:javascript
  try { var yaCounter20871163 = new Ya.Metrika({id:20871163});
  } catch(e) { }
/ Informer
%a{:href => "https://www.ukraine.com.ua/", :target => "_blank"}
  %img{:src => "https://www.ukraine.com.ua/tools/hosting/informer_counter.php?counter_id=20871163", :title => "ukraine.com.ua: данные за сегодня (просмотры, визиты и уникальные посетители)"}/
/ /Ukraine.Hosting