.content
  .logo SG4A
  .grettengs Welcome stranger!
  .nav
    %form{}
      %input{ :type => 'text', :default_value => 'login' } |
      %input{ :type => 'password', :default_value => 'password' }
      %input{ :type => 'submit', :value => 'Login', :class=> 'signin'}
      %input{ :type => 'submit', :value => 'Sign Up', :class=> 'signup'}